<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FunkyHelper - Privacy Policy</title>
        <%- include("partials/bootstrap.ejs") %>
    </head>
    <body>
        <%- include("partials/navbar.ejs") %>
        <div class="container my-5">
        <h1 class="fs-1">Privacy Policy</h1>
        <p class="fs-5">By participating in the <a href="https://discord.gg/eVQkMaTQw2">FunkyScott47 Homebrew Discord Server</a> and interacting with FunkyHelper, you agree to the following data collection by FunkyHelper:</p>
        <ul>
            <li>Deleted messages, including attachments, being logged within a private logs channel that staff are able to access.</li>
            <li>Certain changes to your profile, including roles and profile pictures within the private logs channel.</li>
        </ul>
        <p>Other data may be logged and stored in the future. If this happens, we will make a public announcement within the #announcements channel and update this Privacy Policy accordingly.</p>
        <p>If you do not consent to this data collection, please leave and do not interact with the Discord server.</p>
        <p>If you'd like this data deleted, please contact ManiacOfHomebrew via <a href="mailto:maniacofhomebrew@nintendohomebrew.com">my email</a> or via a DM on Discord (I will accept all friend and message requests).</p>
        </div>
    </body>
</html>